<a href="https://colab.research.google.com/github/Dhaya2020/class-3-and-4/blob/main/Untitled_Copy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data type conversion

In [ ]:
float(10)

10.0

In [ ]:
int(10.5)

10

In [ ]:
float('5.5')

5.5

In [ ]:
str(20)

'20'

## Convention of sequesnces from one to another

In [ ]:
set([1, 2, 5, 7, 7])

{1, 2, 5, 7}

In [ ]:
tuple ({5, 81, 68, 68})

(81, 68, 5)

In [ ]:
list('LIST')

['L', 'I', 'S', 'T']

In [ ]:
print(dict([["name", "John"], [10,50]]))

{'name': 'John', 10: 50}

## Type convertion

## There are 2 types
### * Implicit convertion
### * Explicit Convertion

In [ ]:
int_var = 587
float_var = 55.7

conversion1 = int_var + float_var

print('datatype of int_var is:', type(int_var))
print('datatype of float_var is:', type(float_var))
print('The new value after conversion is:', conversion1)
print('Datatype of conversion1 is:', type(conversion1))

datatype of int_var is: <class 'int'>
datatype of float_var is: <class 'float'>
The new value after conversion is: 642.7
Datatype of conversion1 is: <class 'float'>

In [ ]:
int_var = 587
string_var = float("55.7")

conversion1 = int_var + string_var

print('datatype of int_var is:', type(int_var))
print('datatype of float_var is:', type(float_var))
print('The new value after conversion is:', conversion1)
print('Datatype of conversion1 is:', type(conversion1))

datatype of int_var is: <class 'int'>
datatype of float_var is: <class 'float'>
The new value after conversion is: 642.7
Datatype of conversion1 is: <class 'float'>

In [ ]:
int_var = 587
string_var = "55.7"

conversion1 = (int_var) + float(string_var)

print('datatype of int_var is:', type(int_var))
print('datatype of float_var is:', type(float_var))
print('The new value after conversion is:', conversion1)
print('Datatype of conversion1 is:', type(conversion1))

datatype of int_var is: <class 'int'>
datatype of float_var is: <class 'float'>
The new value after conversion is: 642.7
Datatype of conversion1 is: <class 'float'>

## Input

In [ ]:
num = input('Enter the number: ')

add = int(num) + 50
print(add)

Enter the number: 20
70

In [ ]:
a = eval('10*8')
print(a)

80

In [ ]:
num = input('Enter the first number:')
num1= input('Enter the second number: ')

add = num + num1
print(add)

Enter the first number:1
Enter the second number: 5
15

## Operators

In [ ]:
x = 4
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x/y)
print(type(x//y))
print(x**y)
print(x%y)

9
-1
20
0.8
<class 'int'>
1024
4

In [ ]:
round(2.7)

3

## Logical operators

In [ ]:
x = True
y = False

print(x and y) #multiplication (dot operator - both condition has to be true)
print(x or y)  # Addition (Add operator any one of the condition to be true)
print(not x)

False
True
False

## Assignment operators

In [ ]:
x1 = 15
y1 = 15

x2 = 'Hello'
y2 = 'Hello'

x3 = [15, 2, 3]
y3 = [15, 2, 3]

x4 = (1, 2, 3)
y4 = (1, 2, 3)

x5 = {1, 5, 8}
y5 = {1, 5, 8}

In [ ]:
print(x1 is y1 )

True

In [ ]:
print(x1 is not y1)

False

In [ ]:
print(x2 is y2
    )

True

In [ ]:
print(x3 is y3)

False

In [ ]:
print(x4 is y4)

False

In [ ]:
print(x5 is y5)

False

In [ ]:
id(x1), id(y1) # id will provide the memory reference number

(2630354823920, 2630354823920)

In [ ]:
id(x2), id(y2)

(2630432261296, 2630432261296)

id(x3), id(y3)

In [ ]:
id(x4), id(y4)

(2630427603968, 2630427604544)

In [ ]:
id(x5), id(y5)

(2630432906816, 2630432907040)

In [ ]:
id(x3[0]), id(y3[0])

(2630354823920, 2630354823920)

## Membership operators

In [ ]:
x ='Hello world'
y = {10: 'a', 12: 'b' , 12:'1'}

In [ ]:
y[12]

'1'

In [ ]:
print('H' in x)

True

In [ ]:
print('hello' not in x)

True

In [ ]:
print(10 in y) # dict will only refer Key

True

In [ ]:
print('a' in y) # dict will not refer value

False

## If statement

In [ ]:
num = int(input('Enter the value'))
if num >= 0:
    print('Positive')
else:   
    print('Negative')

Enter the value-5
Negative

## If else

In [ ]:
num = int(input('Enter the value'))

if num >= 0:
    print('Positive')
elif num == 0:
    print('zero')
else:   
    print('Negative')

Enter the value0
Positive

## Nested if

In [ ]:
num = int(input('Enter the value:'))

if num >0:
    if num == 0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Enter the value:0
Negative

## For loop

In [ ]:
list = [1, 2, 3, 4, 5]

In [ ]:
 del list

In [ ]:
list1 = [5, 6, 8, 10]

In [ ]:
list1[2]

8

In [ ]:
list[2]

3

In [ ]:
list[0] =10

In [ ]:
list

[10, 2, 3, 4, 5]

In [ ]:
list([1, 52, 32])

TypeError: 'list' object is not callable

In [ ]:
var_list = [5, 21, 63]

In [ ]:
type(var_list)

list

In [ ]:
list([5, 21, 63])

[5, 21, 63]

In [ ]:
list1 = [12, 13, 14, 15]
add = 0

for i in list1:
    add = add + i
    print(add)
print('The final value of add is' , add)

12
25
39
54
The final value of add is 54

In [ ]:
list1 = [12, 13, 14, 15]
add = 0
for i in list1:
    if i ==14:
        break
    print(i)

12
13

## Fourth class (13-02-2022)

In [ ]:
list_city =['Chennai','kolkata','Mumbai']
len(list_city)

3

In [ ]:
for i in range(len(list_city)):
    print('I like to go to: ', list_city[i])

I like to go to:  Chennai
I like to go to:  kolkata
I like to go to:  Mumbai

In [ ]:
num =[1, 10, 100]

for i in num:
    print('I have' , i, 'days')
else:
    print('Else block')

I have 1 days
I have 10 days
I have 100 days
Else block

In [ ]:
num =[1, 10, 100]

for i in num:
    if i==10:
        break
    print('the number is: ', i)    
    
else:
    print('I have', i, 'days')

the number is:  1


## While loop

In [ ]:
num = int(input('enter the number'))

i= 0
sum_var = 0

while i < num:
    sum_var = sum_var + i
      print(i)
    i= i + 1
  

    
print('the sum of number is :' ,sum_var)

IndentationError: unexpected indent (Temp/ipykernel_2392/3947194694.py, line 8)

## Break, continue and pass

In [ ]:
i = 0
sum_var = 0

while i < num:
    i = i + 1
else:
    print(i)

NameError: name 'num' is not defined

In [ ]:
for i in 'Country':
    if i == 'r':
        break
    print(i)

C
o
u
n
t

In [ ]:
for i in 'Country':
    if i == 'r':
        continue
    print(i)

C
o
u
n
t
y

In [ ]:
#pass statement explanation

list_var =['p', 'a', 's', 's']

for i in list_var:
    pass # add some logic later

## Functions

In [ ]:
def greetings(name):
    """Function to greet some one"""
    print("Hello", name, "how're you")

In [ ]:
greetings('guys')

Hello guys how're you

In [ ]:
print(greetings.__doc__)

Function to greet some one

In [ ]:
def absolute_val(value):
    """Funtion to reture the absolute value"""
    if value >0:
        return value
    else:
        return - value

In [ ]:
absolute_val(-50)

50

In [ ]:
def func():
    a=10 #local variable
    print('Inside the funtion', a)
a=20 #global variable
func()

print('outside the function', a)

Inside the funtion 10
outside the function 20

## Function arguments

### positional arguments

In [ ]:
def greet(arg1, arg2):
    """ Function with arguments"""
    print(arg1, arg2, 'everyone!')

In [ ]:
greet('Good','Evening')

Good Evening everyone!

### Default arguments

In [ ]:
def greet(arg1, arg2 = "Good morning"):
    print("Hello",arg1,arg2)

In [ ]:
greet('people')

Hello people Good morning

In [ ]:
greet('people',"How are you")

Hello people How are you

In [ ]:
def greet(arg2 =" Good Morning", arg1):
    print("hello", arg2, arg1)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_5620/2419687821.py, line 1)

In [ ]:
def greet(arg2 =" Good Morning", arg1):
    print("hello", arg2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_5620/3991349332.py, line 1)

## Keyword Arguments

In [ ]:
greet(arg1 = "Hi", arg2 ="Everyone")
greet(arg2 = "everyone", arg1 ="Hi")
greet("Hi", arg2 ="Everyone")

Hello Hi Everyone
Hello Hi everyone
Hello Hi Everyone

In [ ]:
greet("Hi", "Everyone")

arg1 Hi

 ## Recursion

In [ ]:
factorial of a number
5!

In [ ]:
5 * 4 * 3 * 2 * 1

120

In [ ]:
def recursion(x):
    if x == 1:
        return x
    else:
        return (x * recursion(x-1))
x = 5
print('Factorial of', x, 'is', recursion(x))

Factorial of 5 is 120

## Lambda Function - Anonymous funtion

In [ ]:
cube = lambda x : x * x * x
cube(2)

8

In [ ]:
cube = lambda x, y : (x* x * x) /(y) 
cube(10,2)

500.0

## Filter

- Filter takes in a funtion and a list of argument
- The function is called with the items in the list, and a new list is returned containing the items for which the functions evalutes to True

In [ ]:
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
fil = list(filter(lambda x :x % 2 == 0, my_list))
print('Applyting the filter operation:',fil)

Applyting the filter operation: [0, 2, 4, 6, 8]

## Map

- Filter takes in a funtion and a list of argumenent
- Every items in the list will be returned based on the funtion that we're performing

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2, my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
fill1 = list(map(lambda x : x.upper(),['a','b','c']))
print(fill1)

['A', 'B', 'C']

In [ ]:
my_dict = {10: 'B', 20: 'A', 30: 'A', 40: 'B', 50: 'A'}  
filt1 = list((filter(lambda x : x > 10,my_dict)))
print(filt1)

[20, 30, 40, 50]

In [ ]:
def fun(var):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (var in letters):
        return True
    else:
        return False
seq = ['a', 'b', 'c', 'd', 'e']
fil = list(filter(fun,seq))
print (fil)

['a', 'e']